.title {
	position: absolute;
	top: 15px;
	left: 75px;
	z-index: 4;
	font-family: "Arial", sans-serif;
	font-size: 18px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.title h3 {
	font-size: 22px;
	margin: 0;
}



.legend {
	position: absolute;
	bottom: 5px;
	left: 25px;
	z-index: 5;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

.legend h4 {
	font-size: 18px;
	margin: 0;
}

ul {
	padding-inline-start: 0;
	margin: 0;
}

#district3 li::before {
	content: '■';
	color: #0089d0;
	font-size: 22px;
	margin-right: 5px;
}

#district5 li::before {
	content: '■';
	color: #f28e26;
	font-size: 22px;
	margin-right: 5px;
}


.legend p {
	font-size: 10px;
}

li {
	height: 24px;
}


/*
#district3 {
	color: #0089d0;
}
*/

/*
#district3 li::before {
	content: ■;
	color: #0089d0;
	font-size: 100px;
}

*/
